<div class="container main-container">

    <div class="row text-center">

        @for (produto of produtos; track produto.id) {
            <div class="col-md-4" style="padding-bottom: 30px;">
                <div class="card h-100">
                    <a class="text-decoration-none">
                        <div style="align-content: center;">
                            <img src={{produto.imagem}} height="253px" width="253px" alt="Produto">
                        </div>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">{{produto.nome}}</h4>
                        <p>Por apenas:</p>
                        <div><h4>R$ {{produto.valor}}</h4></div>
                    </div>
    
                    <div class="card-footer">
                        <a class="btn btn-primary">
                            <span class="fa fa-shopping-cart"></span> Comprar
                        </a>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>